body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p{
    text-align: center;
    font-size: 32px;
}

a{
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    padding: 5px;
    width: 100px;
    margin: auto;
    transition: 0.5s;
}

a:hover{
    color: white;
    border-color: white;
}

section{
    background-color:#0094c0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
}