:root{
    --color-nav:#0094c0;
    --color-hover-text:#9ef6ff;
    --color-text:white;
    --color-fields:#00d5ff;
    --color-background:#0d5e7d;
    --text-size:20px;
    --tile-size:32px;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: block;
    background-color: var(--color-nav);
    padding: 10px 0;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opciones__opcion::marker{
    content: none;
}

.opciones__links{
    text-decoration: none;
    font-size: max(25px,2dvh);
    color: var(--color-text);
}

.opciones__links:hover{
    text-decoration: underline;
    color: var(--color-hover-text);
}

form{
    margin: 20px;
}

label{
    display: block;
    font-size: var(--text-size);
}

.form--campos{
    font-size: var(--text-size);
    width: 100%;
    border: none;
    border-bottom:solid 1px var(--color-fields) ;
    background:none ;
}

.form--campos:focus{
    outline: none;
}

.enviar{
    margin: auto;
    width: 40%;
    font-size: var(--text-size);
    background: none;
    color: var(--color-fields);
    border:  solid 1px var(--color-fields);
    transition: background .5s, color .5s;
}

.enviar:hover{
    background: var(--color-fields);
    color: var(--color-background);
}

p{
    width: 40%;
}

.error{
    background-color: red;
    text-align: center;
    font-size: var(--text-size);
    color:var(--color-text);
    margin: 0;
    padding: 5px;
    width: 100%;
}
