:root{
    --color-nav:#0094c0;
    --color-hover-text:#9ef6ff;
    --color-text:white;
}

body{
    margin: 0;
    padding: 0;
}

nav{
    display: block;
    background-color: var(--color-nav);
    padding: 10px 0;
}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opciones__opcion::marker{
    content: none;
}

.opciones__links{
    text-decoration: none;
    font-size: max(25px,2dvh);
    color: var(--color-text);
}

.opciones__links:hover{
    text-decoration: underline;
    color: var(--color-hover-text);
}

section{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5,250px);
    gap: 15px 1px;
    justify-content: space-evenly;
}

.product{
    border-radius: 50px;
    background: linear-gradient(45deg, #d3e5e6, #faffff);
    box-shadow: 20px -20px 60px #c7d8d9,
                -20px 20px 60px #ffffff;
    display: flex;
    flex-direction: column;
    padding:5px 10px;
    text-align: center;
    text-transform: capitalize;
    transition: transform .5s ease;
}

.product--image{
    width: 200px;
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    margin: auto;
}

.product:hover{
    transform: scale(1.05);
}

.buy{
    border: 1px solid var(--color-nav);
    text-decoration: none;
    background-color: var(--color-nav);
    color: var(--color-text);
    width: 100px;
    margin: auto;
    border-radius: 5px;
    padding: 5px;
}

.favorite{
    border: 1px solid var(--color-nav);
    color: var(--color-text);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.btn{
    margin: auto;
    margin-bottom: 8px;
    display: inline;
    padding: 5px;
}

svg{
    stroke: var(--color-nav);
    height: 20px;
    width: 20px;
    fill: none;
}

svg:hover{
    fill: var(--color-nav);
}
