:root{
    --color-nav:#0094c0;
    --color-hover-text:#9ef6ff;
    --color-text:white;
    --color-fields:#00d5ff;
    --color-background:#0d5e7d;
    --text-size:20px;
    --tile-size:32px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.opciones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.opciones__opcion::marker{
    content: none;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    display: block;
    color: var(--color-text);
    font-size: var(--text-size);
}

.form--campos{
    font-size: var(--text-size);
    width: 100%;
    border: none;
    border-bottom:solid 1px var(--color-fields) ;
    background:none ;
}

.form--campos:focus{
    outline: none;
}

.enviar{
    margin: auto;
    width: 40%;
    font-size: var(--text-size);
    background: none;
    color: var(--color-fields);
    border:  solid 1px var(--color-fields);
    transition: background .5s, color .5s;
}

.enviar:hover{
    background: var(--color-fields);
    color: var(--color-background);
}

section{
    width: 50%;
    height: 100%;
    box-shadow: -10px 0 20px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-background);
    flex-grow: 1;
}

p{
    width: 90%;
}

.links{
    color: var(--color-fields);
    text-decoration: none;
    font-size: var(--text-size);
}

.links:hover{
    text-decoration: underline;
    color: var(--color-hover-text);
}

img{
    flex-grow: 1;
}

h1{
    color: var(--color-text);
    font-size: var(--tile-size);
}