{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/store/sell.css' %}">
{% endblock %}
{% block title %}
    Cratos's store - Sell
{% endblock %}
{% block nav %}
    {% if request.session.user %}
        <nav>
            <ul class="opciones">
                <li class="opciones__opcion"><a href="{% url 'index' %}" class="opciones__links">Cratos's store</a></li>
                <li class="opciones__opcion"><a href="{% url 'profile' %}" class="opciones__links">Perfil</a></li>
            </ul>
        </nav>
    {% else %}
        {% include 'store/includes/false_session.html' %}
    {% endif %}
{% endblock %}
{% block content %}
    {% if request.session.user %}
        <main>
            <section>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Vender" class="enviar">
                </form>
            </section>
            {% for msg in messages %}
                <p class="{{ msg.tags }}">{{ msg }}</p>
            {% endfor %}
        </main>
    {% endif %}
{% endblock %}