{% extends "base.html" %}
{% block title %}
    cratos's store
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/index.css' %}">
{% endblock %}
{% block nav %}
    <nav>
        <ul class="opciones">
            <li class="opciones__opcion"><a href="#" class="opciones__links">Cratos's store</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Registrarse</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Iniciar sesion</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Carrito</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Compras</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    
{% endblock %}