{% extends "base.html" %}
{% block title %}
    Cratos's store
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/index.css' %}">
{% endblock %}
{% block nav %}
{% if user.is_authenticated %}
    <nav>
        <ul class="opciones">
            <li class="opciones__opcion"><a href="#" class="opciones__links">Cratos's store</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Buscar</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Carrito</a></li>
            <li class="opciones__opcion"><a href="{% url 'sell' %}" class="opciones__links">Vender</a></li>
            <li class="opciones__opcion"><a href="{% url 'profile' %}" class="opciones__links">{{ user.username }}</a></li>
        </ul>
    </nav>
    {% else %}
    <nav>
        <ul class="opciones">
            <li class="opciones__opcion"><a href="#" class="opciones__links">Cratos's store</a></li>
            <li class="opciones__opcion"><a href="#" class="opciones__links">Buscar</a></li>
            <li class="opciones__opcion"><a href="{% url 'login' %}" class="opciones__links">Iniciar sesion</a></li>
            <li class="opciones__opcion"><a href="{% url 'register' %}" class="opciones__links">Registrarse</a></li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}
{% block content %}
    <main>
        <section>
            {% for product in products %}
                <div class="product">
                    <img src="{{ product.image.url }}" alt="Imagen del producto: {{ product.title }}" class="product--image" loading="lazy">
                    <p>{{ product.title}}</p>
                    <p>{{ product.desc }}</p>
                    <p>{{ product.price }}$</p>
                    <div class="btn">
                        <a href="" class="buy">Comprar</a>
                        <a href="" class="favorite"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-0.75 -0.75 16 16" aria-hidden="true" id="Heart--Streamline-Heroicons-Outline"><path stroke-linecap="round" stroke-linejoin="round" d="M12.6875 4.984375c0 -1.5013541666666665 -1.2681458333333333 -2.71875 -2.832333333333333 -2.71875 -1.1690625 0 -2.1731875 0.6802916666666665 -2.605166666666667 1.6511875 -0.43197916666666664 -0.9708958333333333 -1.4361041666666665 -1.6511875 -2.605770833333333 -1.6511875C3.0812499999999994 2.265625 1.8125 3.483020833333333 1.8125 4.984375c0 4.362083333333333 5.4375 7.25 5.4375 7.25s5.4375 -2.8879166666666665 5.4375 -7.25Z" stroke-width="1.5"></path></svg></a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}