{% extends "base.html" %}
{% block title %}
    cratos's store
{% endblock %}
{% block nav %}
    <nav class="nav">
        <ul class="nav--opciones">
            <li class="nav--opciones__opcion"><a href="#" class="opciones__links">cratos's store</a></li>
            <li class="nav--opciones__opcion"><a href="#" class="opciones__links">registrarse</a></li>
            <li class="nav--opciones__opcion"><a href="#" class="opciones__links">iniciar sesion</a></li>
            <li class="nav--opciones__opcion"><a href="#" class="opciones__links">carrito</a></li>
            <li class="nav--opciones__opcion"><a href="#" class="opciones__links">compras</a></li>
        </ul>
    </nav>
{% endblock %}
{% block content %}
    
{% endblock %}