{% extends "base.html" %}
{% block title %}
    Cratos's store - login
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}
{% block content %}
    <section class="img">
        {% for msg in messages %}
            <p class="{{ msg.tags }}">{{ msg }}</p>
        {% endfor %}
    </section>
    <section class="formulario">
        <h1>Cratos's store</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Iniciar sesion" class="enviar">
        </form>
        <a href="{% url 'register' %}" class="links">Registrarse</a>
        <a href="{% url 'index' %}" class="links">Salir</a>
    </section>
{% endblock %}