{% extends "base.html" %}
{% block title %}
    Cratos's store - login
{% endblock %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/auth/login.css' %}">
{% endblock %}
{% block content %}
    <img src="{% static 'background/background.webp' %}" alt="imagen de objetos">
    <section>
        <h1>Cratos's store</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Registrarse" class="enviar">
        </form>
        <a href="{% url 'login' %}" class="links">Iniciar sesion</a>
        <a href="{% url 'index' %}" class="links">Salir</a>
    </section>
{% endblock %}